.post {
  background-color: rgba(100, 138, 214, 0.492);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.post_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
}

button {
  height: 40px;
  width: 100%;
  max-width: 90px;
  border-radius: 10px;
  background-color: rgb(242, 238, 234);
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;

}
.post_button:first-child:hover {
  background-color: rgba(255, 25, 25, 0.696);
}

.post_button:nth-child(2):hover {
  background-color: rgba(3, 255, 3, 0.5);
}

.postComplited {
  background-color: rgba(137, 255, 137, 0.706);
}
